*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

button{
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.caja-big{
  width: 375px;
  border: 1px solid gray;
}

.title{
  text-align: center;
  border-bottom: 1px solid gray;
  box-shadow: 0px 6px 12px 1px rgb(0 0 0 / 20%);
  padding: 10px;
}

.caja-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom:1px solid gray ;
}

.list{
  display: flex;
  align-items: center;
}
.list input{
  margin-right: 10px;
}

.edit{
  background: blue !important;
}

.eliminar{
  background: gray;
}

.caja-list button{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 20px;
}

.caja-list p{
  font-size: 15px;
  font-family: poppins;
}

.list-nombre{
  margin-left: 10px;
}

.agregar{
  padding:10px ;
  display: flex;
  justify-content: space-between;
}

.agregar input{
  width: 60%;
  padding: 10px 20px;
  border-radius: 5px;
}

.agregar button{
  padding: 10px 30px;
  border-radius: 5px;

}

.botones{
  display: flex;

}

.botones button{
  margin-left: 5px;
}


.caja-list-edit input{
    padding: 10px 20px;
    border-radius: 5px;
    width: 50%;
}

.botones-edit{
  display: flex;
  justify-content: end;
}

.botones-edit button{
  margin-left: 5px;
  border-radius: none !important;
  width: 100px;
}

.Aceptar{
  background: blue;
}

.Cancelar{
  background: gray;
}

.completado{
  background: #105010;
}

.hola{
  display: flex;
  align-items: center;
}
.hola input{
  margin-right: 10px;
}

.seleccionar{
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.seleccionar button{
  padding: 10px 20px ;
  border-radius: 5px;
}

